.contactHeader h2{
    text-align: center;
    font-size: 48px;
    font-weight: lighter;
}

.submitBtn{
    background-color: #F26419;
    border-color: #F26419;
}

.submitBtn:hover{
    background-color: #F37735;
    border-color: #F37735;
}