.primaryNavLinks {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  font-size: large;
  padding-bottom: 0px !important;
  letter-spacing: 0.02em;
  color: rgba(246, 174, 45, 0.8) !important;
  cursor: pointer;
}

.primaryNavLinks:hover {
  color: rgba(246, 174, 45, 1) !important;
}

.active {
  color: rgba(246, 174, 45, 1) !important;
}

.logo {
  font-family: "Roboto Mono";
  font-weight: bold;
  font-style: normal;
  font-size: xx-large;
  margin-right: auto;
  color: #f26419 !important;
  cursor: default;
}

.whiteNavBar {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.4s linear;
}

@media only screen and (max-width: 600px) {
  .primaryNav {
    background-color: #ffffff;
  }

  .profilePic {
    margin-top: -15vh;
    width: 35vw;
    border: 3px solid #f26419;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .primaryNav {
    background-color: #ffffff;
  }
  .profilePic {
    margin-top: -15vh;
    width: 25vw;
    border: 3px solid #f26419;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .activeBar {
    margin: auto;
    width: 45%;
    height: 4px;
    background-color: #f26419;
    transition: width 0.2s linear;
  }

  .profilePic {
    margin-top: -15vh;
    width: 25vw;
    border: 3px solid #f26419;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .activeBar {
    margin: auto;
    width: 45%;
    height: 4px;
    background-color: #f26419;
    transition: width 0.2s linear;
  }
  .profilePic {
    margin-top: -15vh;
    width: 25vw;
    border: 3px solid #f26419;
  }
}

@media only screen and (min-width: 1200px) {
  .activeBar {
    margin: auto;
    width: 45%;
    height: 4px;
    background-color: #f26419;
    transition: width 0.2s linear;
  }

  .profilePic {
    margin-top: -30%;
    width: 10vw;
    border: 3px solid #f26419;
  }
}

.profileName h2 {
  margin: auto;
}

.profileName {
  height: 15vh;
}
