.hr {
  width: 50%;
  margin: 1rem auto;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.txtFonts {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: 2em;
  color: #000000;
  font-weight: 200;
}

.boldTxt {
  font-weight: bold;
}
